body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
#wrapper{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}
.navbar-brand{
    margin-right: 40%;
}
#task-display{
    height: 85%;
    width: 20%;
    background-color: rgb(9, 75, 9);
    border: 3px solid #F8FD99;
    float: left;
}
h4{
    color: white;
    padding-left: 30%;
    padding-top: 5%;
}
.text{
    margin-left: 60%;
    margin-top: 15%;
}
.text:hover{
    color: rgb(9, 75, 9);
    cursor: pointer;
    font-weight: bold;
}

footer{
    height: 5%;
    width: 100%;
}
footer.clear {
    clear: both;
  }
  hr{
      width: 80%;
  }

  {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color:green;
  color: white;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 35px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 10px;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: #F8F9FA;
  margin: 0 auto;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #009436;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #F8FD99;
  font-weight: bold;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}